@import "tailwindcss";

:root {
    --background: #ffffff;
    --foreground: #070914;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);

}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

body {
    background: var(--background);
    color: var(--foreground);
}

body {
    margin: 0 auto;
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #070914;
    height: 100lvh;
    padding-left: 8%;
    padding-right: 8%;
}

.text-anton {
    font-family: var(--font-anton-regular),
    sans-serif;
    font-weight: 400;
}

.text-handjet {
    font-family: var(--font-handjet-regular),
    sans-serif;
    font-weight: 500;
}
.text-handjet-bold {
    font-family: var(--font-handjet-regular),
    sans-serif;
    font-weight: 700;
}

.red {
    color: #E84141;
}


@tailwind base;
@tailwind components;
@tailwind utilities;



